alias la="ls -al --group-directories-first"
alias ll="ls -althr --group-directories-first"
alias ..="cd .."
alias sp="sudo pacman -S"
alias sss="sudo pacman -Ss"
alias rp="sudo pacman -Rs"
alias g=google-chrome-stable
alias sv='sudoedit'
alias sk='killall ssh-agent && source ~/.zshrc'
alias e='exit'
alias syu='sudo pacman -Syu'
alias cls="printf '\033[2J\033[3J\033[1;1H'"

alias snv="sudo -E nvim"

alias makegrub="sudo grub-mkconfig -o /boot/grub/grub.cfg"

alias bat='cat /sys/class/power_supply/BAT0/capacity'
alias grep='grep --color=auto'

alias t='tmux'
alias ts='tmux new -s'
alias ta='tmux attach -t'
alias tk='tmux kill-session -t'
alias tka='tmux ls -F "#{session_name}" | xargs -I % tmux kill-session -t %'
alias tls='tmux ls'

# git
alias gd="git diff --output-indicator-new=' ' --output-indicator-old=' '"
alias gds="git diff --staged --output-indicator-new=' ' --output-indicator-old=' '"
alias ga='git add'
alias gap='git add --patch'
alias gc='git commit'
alias gp='git push'
alias gu='git pull'
alias gl="git log --all --graph --pretty=\
format:'%C(magenta)%h %C(white) %an %ar%C(auto) %D%n%s%n'"
alias gb='git branch'
alias gi='git init'
alias gcl='git clone'
alias gs='git status --short'
alias lg='lazygit'

# env variables
export VISUAL=nvim
export EDITOR=nvim

# fzf aliases
# use fp to do a fzf search and preview the files
alias fp="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"
# search for a file with fzf and open it in vim
alias vf='v $(fp)'

